{
  "extends": "eslint:recommended",
  "rules": {
    "no-extra-boolean-cast": 0,
    "no-undef": 1,
    "strict": 2,
    "no-unexpected-multiline": 2,
    "accessor-pairs": 2,
    "block-scoped-var": 2,
    "complexity": 1,
    "consistent-return": 1,
    "curly": 2,
    "eqeqeq": [1, "smart"],
    "no-alert": 2,
    "no-caller": 2,
    "no-div-regex": 2,
    "no-eq-null": 2,
    "no-extra-bind": 2,
    "no-floating-decimal": 2,
    "no-invalid-this": 1,
    "no-iterator": 2,
    "no-labels": 2,
    "no-lone-blocks": 2,
    "no-loop-func": 2,
    "no-native-reassign": [2, {"exceptions": ["Object"]}],
    "no-multi-str": 2,
    "no-multi-spaces": 1,
    "max-depth": [1, 4],
    "no-bitwise": 2,
    "no-new-func": 2,
    "no-new-wrappers": 2,
    "no-new": 2,
    "no-param-reassign": [2, { "props": false }],
    "no-proto": 2,
    "no-redeclare": [2, { "builtinGlobals": true }],
    "no-self-compare": 2,
    "no-throw-literal": 2,
    "no-useless-concat": 2,
    "no-with": 2,
    "no-catch-shadow": 2,
    "no-delete-var": 2,
    "no-label-var": 2,
    "no-undef-init": 2,
    "no-unused-vars": 2,

    //stylistic issues
    "array-bracket-spacing": 2,
    "block-spacing": 2,
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "camelcase": [2, {"properties": "never"}],
    "comma-spacing": [2, {"before": false, "after": true}],
    "comma-style": [2, "last"],
    "computed-property-spacing": [2, "never"],
    "eol-last": 2,
    "max-nested-callbacks": [1, 4],
    "no-array-constructor": 2,
    "no-mixed-spaces-and-tabs": [1, "smart-tabs"],
    "no-multiple-empty-lines": [2, {"max": 4}],
    "no-new-object": 2,
    "object-curly-spacing": [2, "never"],
    "operator-linebreak": [2, "before"],
    "semi-spacing": [2, {"before": false, "after": true}],
    "semi": 2
  },
  "env": {
    "jasmine": true,
    "browser": true
  },
  "globals": {
    "forge": false,
    "angular": false,
    "inject": false,
    "module": false,
    "_": false
  }
}
